/* Products Section */
/* product listbar */
.section-products .products-list {
	display: flex;
	justify-content: center;
}
.section-products .products-list li {
	padding: 20px;
	cursor: pointer;
	color: var(--main-collor);
}
.section-products .products-list li:hover {
	color: var(--black);
}
/* product items */
.product-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	padding: 20px 0;
}
.product-item {
	position: relative;
}
.product-item img,
.product-overlay img {
	width: 100%;
	display: block;
}
.product-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transform: scalex(0);
	transition: transform 0.2s, opacity 0.4s;
	opacity: 0;
}

.product-item:hover .product-overlay {
	transform: scale(1);
	opacity: 1;
}

.product-overlay-list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product-overlay-list li {
	display: inline-block;
	padding: 10px;
	background-color: var(--black);
	cursor: pointer;
}
.product-overlay-list li i {
	color: white;
}
.product-item .product-info i {
	color: rgba(255, 255, 0, 0.77);
}
.product-info {
	padding: 8px 0;
}
.product-item .product-info span {
	padding: 10px 0;
	display: block;
	font-size: 18px;
	color: var(--main-collor);
}
/* Product Footer */
.product-footer {
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
}
.product-footer .footer-img img {
	display: block;
	width: 100%;
}
.footer-img {
	position: relative;
}
.product-footer .footer-img img:last-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.2);
}

.product-footer .footer-desc {
	display: flex;
	flex-direction: column;
	grid-column: 2/4;
	position: relative;
	padding: 35px 35px;
	background-color: #7b524425;
	overflow: hidden;
}
.footer-desc-date {
	flex: 1;
	display: flex;
}
.footer-desc-date h2 {
	width: 18%;
	color: var(--main-collor);
}
.footer-desc-date h2 b {
	font-size: 30px;
}
.footer-desc-date h2 small {
	font-size: 16px;
}
.footer-desc-date h3 {
	font-size: 18px;
	width: 82%;
}
.product-footer .footer-desc p {
	flex: 6;
	line-height: 2;
	color: var(--gray);
}
.footer-desc .footer-desc-p {
	display: flex;
	align-items: center;
	flex: 4;
}
.footer-desc .footer-desc-bolletes {
	display: flex;
	justify-content: right;
	align-items: flex-end;
	flex: 1;
}
.footer-desc .footer-desc-bolletes span {
	margin: 0 10px;
	height: 4px;
	width: 50px;
	background-color: var(--main-collor);
	border-radius: 10px;
}
.product-footer .footer-desc p::selection {
	background-color: none;
	color: var(--black);
}
/* footer icons */
.footer-icons {
	width: 90%;
	margin: auto;
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;
}
.footer-icons .icon-img {
	transition: all 0.6s;
}
.footer-icons .icon-img img {
	display: block;
	width: 70%;
	margin: auto;
	cursor: pointer;
}
.footer-icons .icon-img.rtl:hover {
	transform: rotate(-20deg) scale(1.4);
}
.footer-icons .icon-img.ltr:hover {
	transform: rotate(20deg) scale(1.4);
}
